$black: #000;
$white: #fff;
$blue: blue;
$green: green;
$yellow: yellow;
$gold: gold;
$purple: purple;
$cyan: cyan;
$silver: silver;
$orangered: orangered;
$orange: orange;
$red: red;

$c222: #222;
$c333: #333;
$c666: #666;
$c999: #999;
$eee: #eee;
$ccc: #ccc;

$ca222: rgba(34, 34, 34, 0);
$f7: #f7f7f7;

$mainRed: #e5392c;
