@import './color.scss';

.slick-dots {
  bottom: 150px;
  li {
    button:before {
      color: $white;
      opacity: 1.0;
      font-size: 10px;
    }
    &.slick-active button:before {
      color: $mainRed;
      opacity: 1.0;
      font-size: 10px;
    }
  }
}

.popup {
  white-space: nowrap;
}

.ui.vertical.menu {
  width: 160px;
  .item {
    font-size: 15px;
  }
}
.ui.secondary.pointing.menu .active.item {
  background: $mainRed;
  color: $white;
}
.ui.secondary.vertical.pointing.menu .active.item {
  border-color: $mainRed;
}
.ui.secondary.pointing.menu .active.item:hover {
  border-color: $mainRed;
  background: $mainRed;
  color: $white;
}
.ui.secondary.pointing.menu .item {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 0 0 30px;
}
